* {
  font-family: 'Audiowide', cursive;
}

body {
  background-image: url(/src/images/main-background-3.png);

  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
}

a {
  font-weight: bold;
  font-size: large;
  color: #93c7ff;
}

.register-container {
  margin-top: 250px;
}

.registration-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-redirect-container {
  margin-top: 15px;
}

.dropdown-container {
  width: 226px;
  margin: auto;
}

.login-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  text-align: center;
  border-color: aliceblue;
}

.logo {
  background-image: url(/src/images/logo.png);
  width: 250px;
  height: 75px;
  margin: 2px;
}

.nav {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-tab-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-tab-navbar p {
  margin: auto;
  color: #93c7ff;
}

.card {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 10px;
  padding: 20px;
  text-align: center;
}

.search-container {
  width: 250px;
  text-align: center;
  padding: 0;
  margin-top: 25px;
  font-size: smaller;
}

.success-message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.gamed-added-message {
  margin-top: 0;
  margin-bottom: 1rem;
  background-color: #1c7bff;
  color: #fcf602;
  padding: 10px;
  border-radius: 5px;
}

.no-games-message {
  margin-top: 70px;
  color: #fffdfd;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.trade-offer-container {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.game-result-card {
  height: 520px;
  max-height: 520px;
}

.offer-card {
  height: 520px;
  max-height: 520px;
}

.recieved-deals-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
