.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-container a {
  color: #007bff;
}

.card-home-page {
  height: 350px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 10px;
  transition: color 0.2s;
}

.card-home-page:hover {
  color: #009fff;
}

.card-add {
  background-image: url(/src/images/add-game.png);
}

.card-search {
  background-image: url(/src/images/search-game.png);
}
