.profile-panel .profile-info {
  padding: 0;
  margin: 0;
  list-style: none;
}

.profile-panel .profile-info li {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.li-container {
  display: flex;
  justify-content: end;
}

.li-info {
  margin-left: 10px;
}

.panel-footer {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #fff;
}

.panel-footer {
  padding: 10px 15px;
  background-color: #f3f5f6;
  border-top: 1px solid #ddd;
}

.panel-default .panel-footer {
  color: #768399;
  background-color: #e4e9eb;
  border: 1px solid #e4e9eb;
  border-top: none;
}

.panel.plain .panel-footer {
  border-top: none;
}

.panel-footer .white-content {
  color: #768399;
  background: #fff;
  background-color: #fff;
}

.profile-panel .profile-stats-info a {
  font-size: 24px;
  margin-right: 10px;
  margin-top: 10px;
  color: #79859b;
}

.profile-panel .user-name {
  margin-top: 10px;
  font-size: 22px;
  margin-bottom: 10px;
}

.profile-panel .profile-avatar img {
  border-radius: 50%;
  border: 1px solid #e7e7e2;
  width: 150px;
}

.profile-panel .profile-avatar {
  border-radius: 50%;
  padding: 10px;
  border: 1px solid #e7e7e2;
  float: left;
  margin-right: 50px;
}

.panel-default .panel-body {
  border: 1px solid #e4e9eb;
  border-top: none;
}

.panel-body {
  padding: 15px;
}

.profile-panel .profile-image {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.panel {
  position: relative;
  margin-bottom: 25px;
  border-radius: 4px;
  border: 0;
  box-shadow: none;
}

.panel-default {
  border-color: #e4e9eb;
}

.panel.plain .panel-default .panel-heading {
  border: 1px solid #e4e9eb;
  border-bottom: none;
}
.panel.plain .panel-heading {
  border-bottom: none;
}
.panel.panel-default .panel-heading {
  color: #768399;
}

.panel-heading .white-content {
  color: #768399;
  background: #fff;
  background-color: #fff;
}
.panel-default .panel-heading {
  color: #768399;
  background-color: #e4e9eb;
  border-color: #e4e9eb;
}
.white-content {
  color: #768399;
  background: #fff;
  background-color: #fff;
}
.p-left {
  padding-left: 0 !important;
}

.p-right {
  padding-right: 0 !important;
}
.panel-heading {
  padding: 0 15px;
  min-height: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.user-profile-container {
  width: max-content;
}

.user-contact {
  display: flex;
}

.main-container {
  margin-top: 150px;
}
